.p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #98A2B3;
}

.h2 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.profile-info-container {
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    height: 134px;
    width: 100%;
    border-bottom: 1px solid #EAECF0;
}

.profile-info-text{
    margin-left: 16px;
}