.p{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #98A2B3;
}

.h2 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.profile-info-container {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 64px;
    align-items: center;
    justify-content: center;
}

.profile-info-text{
    margin-left: 16px;
}