.sub-header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 180px;
    height: 40px;
    margin: 20px 0px;
}

.sub-header-info{
    margin-left: auto;
}

.h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #5C5C5C;
}

@media (min-width: 600px) {
    .sub-header-container{
        width: 280px;
        height: 80px;
        margin-left: 20px;
        margin-top: -20px;
    }
    .h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .p{
        font-size: 15px;
        line-height: 18px;
    }

    .avatar {
        width: 120px !important;
        height: 120px !important;
    }
   }