.side-bar-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side-bar-item__name{
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-align: left;
}

.side-bar-item__notif-num{
    background-color: rgba(254, 100, 94, 1);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    width: 20px;
    height: 20px;
    margin-left: 9px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
