.heading {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  color: #000000;
  text-align: start;
  font-weight: medium;
}

@media (min-width: 360px) {
  .heading {
    font-size: 35px;
  }
}

@media (min-width: 600px) {
  .heading {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .heading {
    font-size: 45px;
  }
}
