/* PAGE LAYOUT*/

.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
  height: auto;
  border: 2px red solid;
}

.forgot-password-aside {
  display: none;
}

.forgot-password-main {
  width: 80%;
  padding: 35px 0;
}

.forgot-password__go-back {
  display: block;
  margin: 12px auto;
    text-align: center;
}
