/* PAGE LAYOUT*/

.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: auto;
}

.forgot-password-aside {
  display: none;
  grid-area: forgot-password-aside;
  width: 50vw;
}

.forgot-password-header {
  grid-area: forgot-password-header;
}

.forgot-password-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 35px calc((50vw - 436px)/2);
  grid-area: forgot-password-main;
  width: 50vw;
  height: 40%;
}

/*Media query*/
@media (min-width: 360px) {
  .forgot-password-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-areas:
      "forgot-password-header forgot-password-aside"
      "forgot-password-main forgot-password-aside";
  }

  .forgot-password-aside {
    display: block;
  }
}

/* OTHER STYLES */

.forgot-password__go-back {
  display: block;
  margin-top: 12px;
  text-align: center;
  align-self: center;
}

.forgot-password-aside__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
