.panel-container {
  width: 100%;
  height: 132px;
  background-image: url(../public/bgHomeImg.png);
  background-size: 100% auto;
}

.main {
  margin: 20px;
}

.cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

