/* PAGE LAYOUT*/

.reset-password-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.reset-password-aside {
  display: none;
  grid-area: reset-password-aside;
}

.reset-password-header {
  grid-area: reset-password-header;
}

.reset-password-main {
  display: flex;
  flex-direction: column;
  padding: 35px calc((50vw - 436px)/2);
  grid-area: reset-password-main;
  height: 100%;
}

/*Media query*/
@media (min-width: 600px) {
  .reset-password-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 68px calc(100vh - 68px);
    grid-template-areas:
      "reset-password-header reset-password-aside"
      "reset-password-main reset-password-aside";
  }

  .reset-password-main{
    margin: 0 20px;
  }

  .reset-password-aside {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}


@media (min-width: 1200px) {
  .reset-password-aside {
    width: 50vw;
  }
}

/* OTHER STYLES */

.reset-password__go-back {
  display: block;
  margin-top: 12px;
  text-align: center;
  align-self: center;
}

.reset-password-aside__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
