.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.leftContainer {
  padding-inline: 1.25rem;
  padding-block: 2rem;
  display: grid;
  place-content: center;
  flex: 1
}

.checkbox {
  font-size: 10px;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.text {
  font-size: 10px;
  text-align: center;
  font-weight: 500;
}

.span {
  color: var(--primary);
  margin-left: .25rem;
  font-weight: 600;
}

.imageContainer {
  display: none;
  background-color: lightblue;
  width: 50%;
  height: 100vh;
  background-image: url('/sigin-in-shoes-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.forgotPassword {
  font-size: 10px;
  color: var(--primary);
}

@media (min-width: 600px) {
  .checkbox {
    font-size: 16px;
  }
  
  .text {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .leftContainer {
    width: 50%;
  }

  .imageContainer {
    display: grid;
  }

}

