.container{
    max-width: 324px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.button_outlined{
    color: #FE645E;
    font-family: Work Sans;
    font-size: 12px;
    width: 144px;
    border-radius: 6px;
    height: 35px;
    margin-bottom: 16px;
}

.button_contained{
    color: #FFFFFF;
    font-family: Work Sans;
    font-size: 12px;
    width: 144px;
    border-radius: 6px;
    height: 30px;
}



